<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nomaan Abbasey's Blog</title>
</head>
<body>
<h1>Nomaan Abbasey's Adventures</h1>
<h3>Author: {{ post.author }}<span style="padding-left: 15ch">{{ val.pub_date }}</span></h3>
<p style="width: 100ch; overflow: hidden; word-wrap: break-word">
    {{ post.description }}
</p>
<p>{{ post.pub_date }}</p>
<form action="{% url 'blog:edit' post.id%}">
    {% csrf_token %}
    <input type="submit" value="Edit Post">
</form>
</body>
</html>