{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nomaan Abbasey's Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body >
<div class="jumbotron text-white bg-primary p-md-5" >
    <h1 class="text-center">Nomaan Abbasey's Adventures</h1>
</div>
<div class="container card mb-4 shadow-sm card-body border-dark">
<h2 class="p-2">{{ post.title }}</h2>
<h5 class="p-2" >{{ post.author }}</h5>
<p class="p-2 text-muted">{{ post.pub_date }}</p>
<p class="p-2">
    {{ post.description }}
</p>
              <div class="d-flex flex-row">
                 <a href="{% url 'blog:edit' post.id%}" class="btn btn-primary mr-3">Edit Post</a>
<a href="{% url 'blog:index' %}" class="btn btn default btn-outline-primary mr-3">Return to Blog</a>
              </div>
</div>
</body>
</html>