{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nomaan Abbasey's Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="background-image: url({% static 'gundam.jpg' %})">
<div class="jumbotron" style="background-color: #2742E8">
    <h1 style="text-align: center; color: #2BEFFF">Nomaan Abbasey's Adventures</h1>
</div>
<div class="nav" style="text-align: center; align-items: center;">
     <ul style="list-style: none; width: 80%; margin: auto">
          <li class="d-flex flex-column" style ="border: 2px solid black; border-radius: 25px; margin-top: 20px; background-color: #2BEFFF ">
<h3 class="p-2" style="text-align: left; color: #2D13EB;">Author: {{ post.author }}</h3>
<p class="p-2" style="width: 100ch; color: #2742E8; overflow: hidden; word-wrap: break-word; text-align: left">
    {{ post.description }}
</p>
<p class="p-2" style="text-align: left; color: #2742E8">{{ post.pub_date }}</p>
              <div class="d-flex flex-row">
                  <button class="btn btn-primary" value="Edit Post"><a href="{% url 'blog:edit' post.id%}">Edit Post</a></button>
<button class="btn btn-primary" value="Return"><a href="{% url 'blog:index' %}">Return to Blog</a></button>
              </div>
          </li>
     </ul>
</div>
</body>
</html>