{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nomaan Abbasey's Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron text-white bg-primary p-md-5">
    <h1 class="text-center">Nomaan Abbasey's Adventures</h1>
</div>
 <div class="container card mb-4 shadow-sm card-body border-dark">
    <h3 class="p-2">Edit Post: </h3>
             <form class="p-2" action="{% url 'blog:completeEdit' post.id%}" method="post">
    {% csrf_token %}
<div class="form-group">
<textarea class="form-control"  name="description" rows="3">{{ post.description }}</textarea>
</div>
     <div class="d-flex flex-row">
        <input class="btn btn-success mr-3" type="submit" value="Edit">
        <a href="{% url 'blog:detail' post.id%}" class="btn btn default btn-outline-primary ">Return to Blog</a>
     </div>
    </form>
</div>
</body>
</html>