<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nomaan Abbasey's Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body>
<h1>Nomaan Abbasey's Adventures</h1>
<form action="{% url 'blog:post' %}">
    {% csrf_token %}
    <input type="submit" value="Post New Article">
</form>
{% if latest_post_list %}
    <ul>
    {% for val in latest_post_list %}
        <li><a href="{% url 'blog:detail' val.id %}">{{ val.title }}</a>
        <span style="padding-left: 50ch">{{ val.author }}</span>
        <p style="width: 100ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
            {{  val.description }}
        </p>
        <p>{{ val.pub_date }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
</body>
</html>