{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nomaan Abbasey's Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body style="background-image: url({% static 'gundam.jpg' %})">
<div class="jumbotron" style="background-color: #2742E8">
    <h1 style="text-align: center; color: #2BEFFF">Nomaan Abbasey's Adventures</h1>
    <a href="{% url 'blog:post' %}" class="btn btn-primary mr-3">Publish a Post</a>
</div>
<div class="nav" style="text-align: center; align-items: center;">
{% if latest_post_list %}
    <ul style="list-style: none; width: 70%; margin: auto">
    {% for val in latest_post_list %}
        <li class="d-flex flex-column" style ="border: 2px solid black; border-radius: 25px; margin-top: 20px; background-color: #2BEFFF ">
            <a class="p-2" style="text-align: left; color: #2D13EB; " href="{% url 'blog:detail' val.id %}">{{ val.title }}</a>
            <span class="p-2" style="padding-left: 50ch;text-align: left; color: #2742E8">{{ val.author }}</span>
        <p class="p-2" style="text-align: left; width: 100ch; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #2742E8">
            {{  val.description }}
        </p>
        <p class="p-2" style="text-align: left; color: #2742E8"}>{{ val.pub_date }}</p>
        </li>
    {% endfor %}
    </ul>
    </div>
{% else %}
    <div class="nav">
    <p>No posts are available.</p>
    </div>
{% endif %}
</body>
</html>